.returnButton {
    background-color: #424242;
    border: none;
    border-radius: 5px;
    color: #fafafa;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding: 1%;
    align-items: center;
}

#plainButton {
    color: #fafafa;
    font-size: 14px;
    font-weight: 400;
}

#blueButton {
    background-color: #5dade2;
    border: none;
    border-radius: 10px;
    color: #ebf5fb;
    font-size: 14px;
    font-weight: 600;
    padding: 6%;
    padding-left: 20%;
    padding-right: 20%;
}

#redButton {
    background-color: #ec7063;
    border: 100%;
    border-radius: 10px;
    color: #fdedec;
    font-size: 14px;
    font-weight: 600;
    padding: 6%;
    padding-left: 20%;
    padding-right: 20%;
}

#greenButton {
    background-color: #58d68d;
    border: 100%;
    border-radius: 10px;
    color: #eafaf1;
    font-size: 14px;
    font-weight: 600;
    padding: 6%;
    padding-left: 20%;
    padding-right: 20%;
}

#whiteButton {
    background-color: #fafafa;
    border: 100%;
    border-radius: 10px;
    color: #212121;
    font-size: 14px;
    font-weight: 600;
    padding: 6%;
    padding-left: 20%;
    padding-right: 20%;
}

#blackButton {
    background-color: #424242;
    border: 100%;
    border-radius: 10px;
    color: #fafafa;
    font-size: 14px;
    font-weight: 600;
    padding: 6%;
    padding-left: 20%;
    padding-right: 20%;
}
