.returnButton {
    background-color: #424242;
    border: none;
    border-radius: 5px;
    color: #fafafa;
    display: flex;
    font-size: 1.4em;
    font-weight: 600;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

#plainButton {
    color: #616161;
    display: flex;
    font-size: 1.6em;
    font-weight: 400;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

#blueButton {
    background-color: #5dade2;
    border: none;
    border-radius: 10px;
    color: #ebf5fb;
    display: flex;
    font-size: 1.4em;
    font-weight: 600;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    padding: 0;
}

#redButton {
    background-color: #ec7063;
    border: 100%;
    border-radius: 10px;
    color: #fdedec;
    display: flex;
    font-size: 1.4em;
    font-weight: 600;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    padding: 0;
}

#greenButton {
    background-color: #58d68d;
    border: 100%;
    border-radius: 10px;
    color: #eafaf1;
    display: flex;
    font-size: 1.4em;
    font-weight: 600;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    padding: 0;
}

#whiteButton {
    background-color: #fafafa;
    border: 100%;
    border-radius: 10px;
    color: #212121;
    display: flex;
    font-size: 1.4em;
    font-weight: 600;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    padding: 0;
}

#blackButton {
    background-color: #424242;
    border: 100%;
    border-radius: 10px;
    color: #fafafa;
    display: flex;
    font-size: 1.4em;
    font-weight: 600;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    padding: 0;
}