.textBody {
    align-items: center;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.textBody .material-symbols-outlined {
    font-size: 100px;
}

.textBody h1 {
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 10px;
}

.textBody p {
    font-size: 25px;
    margin-top: 0;
}

.textBody button {
    border: none;
    display: flex;
    margin-bottom: 15px;
    padding: 1% !important;
}
