html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #212121;
    font-weight: 400;
}

.material-symbols-outlined {
    font-size: large;
    font-variation-settings: 
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 9%;
    top: 13%;
    width: 80%;
    filter: blur(10px);
}

#itemview {
    visibility: hidden;
}

.item {
    display: flex;
    flex-direction: column; /* Stack image and name vertically */
    align-items: center;    /* Center align items horizontally */
    width: 12.5%;
    height: 130px;
    margin-right: 2%;
    margin-bottom: 5%;
    background-color: #212121;
    border: none;
}

#searchbar {
    position: relative;
    left: 7%;
    top: 5%;
    width: 80%;
    height: 35px;
    filter: blur(10px);
    background-color: #424242;
}

#sidemenu {
    position: absolute;
    left: 90%;
    background: #424242;
    height: 100%;
    width: 10%;
    top: 6%;
    filter: blur(10px);
}

.sideoption {
    display: flex;
    margin-bottom: 10%;
    margin-left: 26%;
    color: #212121;
    background-color: #5dade2;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    padding: 8px;
}

#sideoptionstyle {
    top: 10%;
    position: relative;
}

.itemview {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: #fafafa;
}

.descriptor {
    position: relative;
    left: 50%;
}

#itemImage {
    width: 33%;
    left: 10%;
    position: relative;
    top: 14%;
}

.itemImage {
    width: 90%;
    height: 90%;
    margin-bottom: 10px; /* Add space below the image */
}

.itemPrice, .itemName {
    color: #fafafa; 
    text-align: center; 
}

.descriptor {
    top: 0;
    left: 0;
}

#close {
    position: relative;
    left: 65%;
    top: -34%;
    background-color: #ec7063;
}

.filterview {
    background-color: #424242;
    position: fixed;
    top: 24%;
    left: 0;
    height: 57%;
    width: 8%;
}

.check {
    background-color: #5dade2;
    display: flex;
}