#details {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    position: relative;
    left: 10%;
    top: 10%;
    font-weight: 400;
}

#imgUpload{
    left: 0;
    top:0;
    position: absolute;
    font-size: 16px;  /* Increase font size */
    padding: 8px;     /* Increase padding for better clickability */
    width: 350px;     /* Control the total width including the white area */
    height: 40px;     /* Increase height */
}

#itemImg{
    width: 40%;
    height: 40%;
    left: 30%;
    position: relative;
    top: 0;
}

.detail{
    height: 10%; /* Container height relative to the body or parent element */
    width: 100%;
    top: 10%;
    position: relative;
    display: flex; /* Optional: Use flexbox for alignment */
    align-items: center; /* Optional: Center the input vertically */
    justify-content: center; /* Optional: Center the input horizontally */
    font-weight: 400;
    color: #fafafa;
    background-color: #424242;
}

#Upload{
    width: 50%;
    height: 25%;
    left: 25%;
    position: relative;
    color: #2ecc71;
    background-color: #186a3b;
    border: none;
    border-radius: 20px;
}

#itemName::placeholder, #desc::placeholder,
#price::placeholder, #tags::placeholder,
#category::placeholder {
    color: #fafafa;
}