.itemview {
    align-items: stretch;
    background-color: #424242;
    border: none;
    color: #fafafa;
    display: flex;
    height: 80%;
    justify-content: flex-start;
    left: 10%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 10%;
    width: 80%;
}

#update {
    background-color: green;
    font-size: 43px;
    height: 10%;
    left: 39%;
    position: absolute;
    top: 65%;
    width: 20%;
}