#plainButton {
    color: #fafafa;
}

#blueButton {
    color: #ebf5fb;
    background-color: #5dade2;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    padding: 8px;
}

#redButton {
    color: #fdedec;
    background-color: #ec7063;
    border: 100%;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    padding: 8px;
}

#greenButton {
    color: #eafaf1;
    background-color: #58d68d;
    border: 100%;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    padding: 8px;
}

#whiteButton {
    color: #212121;
    background-color: #fafafa;
    border: 100%;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    padding: 8px;
}

#blackButton {
    color: #fafafa;
    background-color: #424242;
    border: 100%;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    padding: 8px;
}