<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>E-Commerce | Form</title>

    <!-- Style.CSS -->
    <link rel="styleSheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <form action="http://localhost:5500/login" method="get">
        <p>Enter name: </p>
        <p><input type="text" name = "nm"></p>
        <p><input type="submit" value="Submit"></p>  
    </form>
</body>
</html>