<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Driver's Paradise | Home</title>

    <!-- Style.CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

    <!-- Page.CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/page.css')}}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!-- Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="header">
        <h1 id="header-title">Driver's Paradise</h1>

        <div class="searchbar-container">
            <span class="searchbar-icon material-symbols-outlined">search</span>
            <input id="searchbar" type="text" placeholder="Search Vehicle">
        </div>

        <div id="header-right">
            <p class="header-right-buttons sidemenu" id="welcome">
                <span class="material-symbols-outlined">person</span> {{ username }}
            </p>
            <button class="header-right-buttons sidemenu" id="upload" value="/upload">
                <span class="material-symbols-outlined">cloud_upload</span> Upload
            </button>
            <button class="header-right-buttons sidemenu" id="uploads" value="/page/">
                <span class="material-symbols-outlined">folder</span> My Vehicles
            </button>
            <button class="header-right-buttons sidemenu" id="Logout" value="/logout">
                <span class="material-symbols-outlined">logout</span> Log out
            </button>
        </div>
    </div>

    <div id="layout" class="layout">
        <!--{{ items | safe }}-->
    </div>

    <div class="filterview" id="filterview" style="overflow: scroll;">
        <div class="option">
            <!-- Filter Options -->
             <p>Price</p>
             <div class = "sideoption">
                <input type="radio" name="price" class="selector" id = "price0">
                <label class = "data" for="price0" value = "0-1000">$0 - $1000</label>
            </div>
            <div class = "sideoption">
                <input type="radio" name="price" class="selector" id = "price1">
                <label class = "data" for="price1" value = "1000-10000">$1000 - $10,000</label>
            </div>
            <div class = "sideoption">
                <input type="radio" name="price" class="selector" id = "price2">
                <label class = "data" for="price2" value = "10000-50000">$10,000 - $50,000</label>
            </div>
            <div class = "sideoption">
                <input type="radio" name="price" class="selector" id = "price3">
                <label class = "data" for="price3" value="50000-100000">$50,000 - $100,000</label>
            </div>
        </div>
        <div class="option">
            <p>Condition</p>
            <div class="sideoption">
                <input type="radio" name="condition" class="selector" id = "new">
                <label class = "data" for="new" value = "#new">New</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="condition" class="selector" id = "used">
                <label class = "data" for="used" value = "#used">Used</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="condition" class="selector" id = "salvage">
                <label class = "data" for="salvage" value = "#salvage">Salvage</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="condition" class="selector" id = "damaged">
                <label class = "data" for="damaged" value = "#damaged">Damaged</label>
            </div>
        </div>
        <div class="option">
            <p>Engine</p>
            <div class="sideoption">
                <input type="radio" name="engine" class="selector" id = "gas">
                <label class = "data" for="gas" value = "#gas">Gasoline</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="engine" class="selector" id = "electric">
                <label class = "data" for="electric" value = "#electric">Electric</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="engine" class="selector" id = "hybrid">
                <label class = "data" for="hybrid" value = "#hybrid">Hybrid</label>
            </div>
        </div>
        <div class="option">
            <p>Top Speed</p>
            <div class="sideoption">
                <input type="radio" name="speed" class="selector" id = "100mph">
                <label class = "data" for="100mph" value = "#100kmph">100 mph</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="speed" class="selector" id = "200mph">
                <label class = "data" for="200mph" value = "#200kmph">200 mph</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="speed" class="selector" id = "300mph">
                <label class = "data" for="300mph" value = "#300kmph">300 mph</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="speed" class="selector" id = "400mph">
                <label class = "data" for="400mph" value = "#400kmph">400 mph</label>
            </div>
        </div>

        <div class="option">
            <p>Seats</p>
            <div class="sideoption">
                <input type="radio" name="seats" class="selector" id = "1seat">
                <label class = "data" for="1seat" value = "#1seat">1-Seater</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="seats" class="selector" id = "2seat">
                <label class = "data" for="2seat" value = "#2seat">2-Seater</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="seats" class="selector" id = "3seat">
                <label class = "data" for="3seat" value = "#3seat">3-Seater</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="seats" class="selector" id = "4seat">
                <label class = "data" for="4seat" value = "#4seat">4-Seater</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="seats" class="selector" id = "5seat">
                <label class = "data" for="5seat" value = "#5seat">5-Seater</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="seats" class="selector" id = "6seat">
                <label class = "data" for="6seat" value = "#6seat">6-Seater</label>
            </div>
            <div class="sideoption">
                <input type="radio" name="seats" class="selector" id = "7seat">
                <label class = "data" for="7seat" value = "#7seat">7-Seater</label>
            </div>
        </div> 
    </div>    

    <div class="itemview" id="itemview">
        <button id="close" name="close" value="close"><span class="material-symbols-outlined">close</span></button> <!-- Close button inside itemview -->
        <img id="itemImage" alt="Item Image">

        <div class="itemTable">
            <div class="itemTableRow">
                <p class="itemTableTitle">Name:</p>
                <p class="itemTableDetails"><span id="name-custom"></span></p> <!-- Unique ID -->
            </div>

            <div class="itemTableRow">
                <p class="itemTableTitle">Price:</p>
                <p class="itemTableDetails"><span id="price-custom"></span></p> <!-- Unique ID -->
            </div>

            <div class="itemTableRow">
                <p class="itemTableTitle">Category:</p>
                <p class="itemTableDetails"><span id="category-custom"></span></p> <!-- Unique ID -->
            </div>

            <div class="itemTableRow">
                <p class="itemTableTitle">Tags:</p>
                <p class="itemTableDetails"><span id="tags-custom"></span></p> <!-- Unique ID -->
            </div>

            <div class="itemTableRow">
                <p class="itemTableTitle">Description:</p>
                <p class="itemTableDetails"><span id="description-custom"></span></p> <!-- Unique ID -->
            </div>
        </div>
    </div>    

    <script src="{{ url_for('static', filename='java/pageloading.js') }}" vehicles='{{ dynamic|tojson|safe }}'></script>
    <script src="{{ url_for('static', filename='java/mainPage.js') }}"></script>
</body>
</html>