<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>E-Commerce | Home</title>

    <!-- Style.CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

    <!-- Page.CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/page.css')}}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!-- Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="header">
        <h1>E-Commerce</h1>

        <div class="searchbar-container">
            <span class="searchbar-icon material-symbols-outlined">search</span>
            <input id="searchbar" type="text" placeholder="Search Vehicle">
        </div>

        <div class="header-right">
            <p class="header-right-buttons sidemenu" id="welcome">{{ username }}</p>
            <button class="header-right-buttons sidemenu" id="upload" value="/upload">Upload</button>
            <button class="header-right-buttons sidemenu" id="uploads" value="/page/{{ username }}">My Vehicles</button>
            <button class="header-right-buttons sidemenu" id="Logout" value="/logout">Log out</button>
        </div>
    </div>

    <div id="layout" class="layout">
        <!--{{ items | safe }}-->
    </div>

    <div class="filterview" id="filterview" style="overflow: scroll;">
        <div class="option">
            <!-- Filter Options -->
            <label>Price</label>
            <div class="sideoption">
                <input type="radio" name="price" class="selector">
                <p class="data">$500 - $10,000</p>
            </div>
            <div class="sideoption">
                <input type="radio" name="price" class="selector">
                <p class="data">$10,000 - $50,000</p>
            </div>
            <div class="sideoption">
                <input type="radio" name="price" class="selector">
                <p class="data">$50,000 - $100,000</p>
            </div>

            <label>Condition</label>
            <div class="sideoption">
                <input type="checkbox" id="used" class="selector">
                <p class="data" value="#new">New</p>
            </div>
            <div class="sideoption">
                <input type="checkbox" id="used" class="selector">
                <p class="data" value="#used">Used</p>
            </div>
            <div class="sideoption">
                <input type="checkbox" id="used" class="selector">
                <p class="data" value="#salvage">Salvage</p>
            </div>
            <div class="sideoption">
                <input type="checkbox" id="used" class="selector">
                <p class="data" value="#damaged">Damaged</p>
            </div>

            <label>Engine</label>
            <div class="sideoption">
                <input type="checkbox" id="cylinder" class="selector">
                <p class="data" value="#gasoline">Gasoline</p>
            </div>
            <div class="sideoption">
                <input type="checkbox" id="cylinder" class="selector">
                <p class="data" value="#electric">Electric</p>
            </div>
            <div class="sideoption">
                <input type="checkbox" id="cylinder" class="selector">
                <p class="data" value="#4hybrid">Hybrid</p>
            </div>

            <label>Speed</label>
            <div class="sideoption">
                <input type="checkbox" id="speed" class="selector">
                <p class="data" value="#100kmph">100 mph</p>
            </div>
            <div class="sideoption">
                <input type="checkbox" id="speed" class="selector">
                <p class="data" value="#200kmph">200 mph</p>
            </div>
            <div class="sideoption">
                <input type="checkbox" id="speed" class="selector">
                <p class="data" value="#300kmph">300 mph</p>
            </div>
            <div class="sideoption">
                <input type="checkbox" id="speed" class="selector">
                <p class="data" value="#400kmph">400 mph</p>
            </div>

            <label>Seats</label>
            <div class="sideoption">
                <input type="checkbox" id="medium" class="selector">
                <p class="data" value="#3seater">3-Seater</p>
            </div>
            <div class="sideoption">
                <input type="checkbox" id="medium" class="selector">
                <p class="data" value="#4seater">4-Seater</p>
            </div>
            <div class="sideoption">
                <input type="checkbox" id="medium" class="selector">
                <p class="data" value="#5seater">5-Seater</p>
            </div>
            <div class="sideoption">
                <input type="checkbox" id="medium" class="selector">
                <p class="data" value="#7seater">7-Seater</p>
            </div>
        </div>
    </div>    

    <div class="itemview" id="itemview">
        <button id="close" name="close" value="close"><span class="material-symbols-outlined">close</span></button> <!-- Close button inside itemview -->
        <img id="itemImage" alt="Item Image">

        <div class="itemTable">
            <div class="itemTableRow">
                <p class="itemTableTitle">Name:</p>
                <p class="itemTableDetails"><span id="name-custom"></span></p> <!-- Unique ID -->
            </div>

            <div class="itemTableRow">
                <p class="itemTableTitle">Price:</p>
                <p class="itemTableDetails"><span id="price-custom"></span></p> <!-- Unique ID -->
            </div>

            <div class="itemTableRow">
                <p class="itemTableTitle">Category:</p>
                <p class="itemTableDetails"><span id="category-custom"></span></p> <!-- Unique ID -->
            </div>

            <div class="itemTableRow">
                <p class="itemTableTitle">Tags:</p>
                <p class="itemTableDetails"><span id="tags-custom"></span></p> <!-- Unique ID -->
            </div>

            <div class="itemTableRow">
                <p class="itemTableTitle">Description:</p>
                <p class="itemTableDetails"><span id="description-custom"></span></p> <!-- Unique ID -->
            </div>
        </div>
    </div>    

    <script src="{{ url_for('static', filename='java/pageloading.js') }}" vehicles='{{ dynamic|tojson|safe }}'></script>
    <script src="{{ url_for('static', filename='java/mainPage.js') }}"></script>
</body>
</html>