<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Title -->
    <title>E-Commerce | Home</title>

    <!-- Main.CSS -->
    <link rel="styleSheet" type="text/css" href="{{url_for('static', filename='main.css')}}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!-- Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <input id = "searchbar" type="text">
    <div id = "layout" class="layout"> 
        {% block content%} 
            {{ dynamic_html | safe }}
        {% endblock %}
    </div>

    <div id = "sidemenu">
        <div id = "sideoptionstyle">
            <p class = "sideoption" id = "welcome"> </p>
            <button class = sideoption id = "upload">
                Upload vehicle
            </button>
            <button class = "sideoption" id = "Logout">
                Log out
            </button>
            <button class = "sideoption" id = "login">
                Log in
            </button>
            <button class = "sideoption" id = "signup">
                Sign up
            </button>
        </div>
        
    </div>
    
    <div class = "itemview" id = "itemview" style="background-color: white;">
        <img src="{{url_for('static', filename = 'images/0.png')}}" id = "itemImage" >
        
        <div class = "descriptors" style="top: 12.5%; left: 50%; position: absolute; width: 30%;">
            <p class = "descriptor" id = "name">
                <span style="text-decoration:solid; font-size: large;">
                    Name:
                </span>
                <span id = "custom">
                    Suzuki 2023
                </span>
            </p>
            <p class = "descriptor" id = "category">
                <span style="text-decoration:solid; font-size: large;">
                    Category:
                </span>
                <span id = "custom">
                    Motorbike
                </span>
            </p>
            <p class = "descriptor" id = "description">
                <span style="text-decoration:solid; font-size: large;">
                    Description:
                </span>
                <span id = "custom">
                    i have used this bike for a few months now, it came out in 2023. selling due to having a new bike
                </span>
                
            </p>
            <p class = "descriptor" id = "price">
                <span style="text-decoration:solid; font-size: large;">
                    Price:
                </span>
                <span id = "custom">
                    $6000
                </span>
            </p>
            <button class = "descriptor" style = "font-size: 15px; align-items: center;">
                <span class = "material-symbols-outlined">
                    chat_bubble
                </span>
                Message
            </button>
        </div>
        

        <button id = "close" name="close" value="close">
            X
        </button>


        <script>
            var itemView = document.getElementById("itemview")
            var sidemenu = document.getElementById("sidemenu")
            var layout = document.getElementById("layout")
            var searchBar = document.getElementById("searchbar")

            function ShowBackground(){
                itemView.style.visibility = "hidden"
                sidemenu.style.filter = "none"
                layout.style.filter = "none"
                searchBar.style.filter = "none"
            }

            document.getElementById("close").addEventListener("click", function(){
                ShowBackground()
            })

            ShowBackground()
        </script>
    </div>
</body>
</html>