<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommerce Signup</title>
    <link rel="styleSheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!-- Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div id = "info">
        <img id = "icon" src="{{url_for('static', filename = 'images/ecommerce_logo.png')}}">
        <div class = "inputs">
            <input class = "userinfo" id = "Username" placeholder = "Username" type = "text">
            <input class = "userinfo" id = "Email" placeholder = "Email" type = "text">
            <input class = "userinfo" id = "Password" placeholder = "Password" type = "password">
            <input class = "userinfo" id = "Confirm" placeholder = "Confirm Password" type = "password">
            
            <form action="/page" method="post">
                <button class = "userinfo" id = "mainButton" type="submit">
                    Sign up
                </button>

            </form>

            <form action="/login" method="post">
                <button class = "userinfo" id = "secondaryButton">
                    <span style="color: #6c757d;">Already signed up? <span style="color: #42a5f5; text-decoration: underline;">Login</span></span>
                </button>

            </form>
        </div>
    </div>

</body>
</html>