<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Driver's Paradise | Home</title>

    <!-- Style.CSS -->
    <link rel="styleSheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

    <!-- Page.CSS -->
    <link rel="styleSheet" type="text/css" href="{{url_for('static', filename='css/page.css')}}">

    <!-- Userpage.CSS -->
    <link rel="styleSheet" type="text/css" href="{{url_for('static', filename='css/userpage.css')}}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!-- Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="header">
        <h1 id="header-title">Driver's Paradise</h1>
        <div class="searchbar-container">
            <span class="searchbar-icon material-symbols-outlined">search</span>
            <input id="searchbar" type="text" placeholder="Search Vehicle"></input>
        </div>

        <div id="header-right">
            <p class="header-right-buttons sidemenu" id="welcome">{{ username }}</p>
            <button class="header-right-buttons sidemenu" id="upload" value="/upload">Upload</button>
            <button class="header-right-buttons sidemenu" id="mainPage" value="/page">Main Page</button>
            <button class="header-right-buttons sidemenu" id="Logout" value="/logout">Log out</button>
        </div>
    </div>

    <div id="layout" class="layout"> 
        <!--{{ items | safe }}-->
    </div>
    
    <div class = "itemview" id = "itemview">
        <img  id = "itemImage" >
        <form action = "/update" method = "post" id = "form">
            <div class = "descriptors" style="top: 12.5%; left: 50%; position: absolute; width: 30%;">
                <p class = "descriptor" id = "name">
                    <span>Name:</span>
                    <input type="text" id = "name-custom" placeholder = "Unknown Vehicle" name="name">
                </p>
                <p class = "descriptor" id = "category">
                    <span>Category:</span>
                    <select name="category" id="category">
                        <option value="Car">Car</option>
                        <option value="Motorcycle">Motorcycle</option>
                    </select>
                    <!--<input type="text" id = "category-custom" placeholder = "Uncategorized" name="category">-->
                </p>
                <p class = "descriptor" id = "description">
                    <span>Description:</span>
                    <input type="text" id = "description-custom" placeholder = "No description" name="description">
                </p>
                <p class = "descriptor" id = "price">
                    <span>Price: $</span>
                    <input type="number" id = "price-custom" placeholder = "0" name="price">
                </p>
                <p class="descriptor" id = "tags">
                    <span>Tags:</span>
                    <input type="text" id = "tags-custom" placeholder = "N/A" name="tags">
                </p>
                <button class = "descriptor" style = "font-size: 15px; align-items: center;">
                    <span class = "material-symbols-outlined">chat_bubble</span>
                    Message
                </button>
            </div>
        
            <button id = "update" type="submit">
                Update vehicle
            </button>
            
        </form>
        <button id = "close" name="close" value="close"><span class="material-symbols-outlined">close</span></button>
    </div>
    
    <script src="{{ url_for('static', filename='java/pageloading.js') }}"vehicles='{{ dynamic|tojson|safe }}'></script>
</body>
</html>